<div class="container">

  <%= form_for(@job, :url => buyers_checkout_index_path(id: @job), :method => 'post', html: { :id => "payment-form" }) do |f| %>

    <div class="form-row">
      <label for="card-element">
        Credit or debit card
      </label>
      <div>
        <div class="fst-italic" id="card-element">
          <!--     A Stripe Element will be inserted here.-->
        </div>
        <!--   Used to display Element errors.-->
        <div id="card-errors" role="alert"></div>
      </div>

      <button>Submit Payment</button>
    </div>
  <% end %>

</div>


